.synonym-list {
    position: fixed;
    width: 200px;
    max-height: 500px;
    padding: 0;
    overflow-y: auto;
    text-align: center;
    border: 1px solid green;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: -2px 4px 26px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 4px 26px -7px rgba(0,0,0,0.75);
    box-shadow: -2px 4px 26px -7px rgba(0,0,0,0.75);
    list-style: none;
    background-color: #fff;
}

.synonym-item {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    line-height: 20px;
}

.synonym-item:hover {
    background-color: rgba(50,205,50, .5);
}
